@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin grid-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@mixin hoverEffect {
  box-shadow: var(--box-shadow);
  transform: scale(1.03);
}
